<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
	<div id="header">
		<img src="zodiac_img.png" id="headerIMG">
		<a href="/" class="menuItem">Home</a>
<!-- 		<a href="/create" class="menuItem">Create</a> -->
		<a href="/about" class="menuItem">About</a>
		

	<!-- 	<a href="/login">Login</a><br> -->
		<% if $credentials %> 
			<% if $credentials[0] != ' ' %>
				Logged in as: 
				<b style="color:black;">
					<%= $credentials[0] %>
				</b>
				<a href="/logout" class="menuItem">Logout</a>
				<% if $credentials[0] == "Admin" %>
					<a href="/admincontrols" class="menuItem">Admin Controls</a>
					<a href="/edit_log" class="menuItem">Edit Logs</a>
				<% end %> 
				<%if get_user_details.edit == true%>
					<a href="/edit" class="menuItem">Edit</a>
				<%end%>
				<% else %>
					<a href="/login" class="menuItem">Login</a>
					<a href="/createaccount" class="menuItem">Sign in</a>
					<% end %>
			<% else %>
				<a href="/login" class="menuItem">Login</a>
				<a href="/createaccount" class="menuItem">Sign up</a>
			<% end %>
	</div>

	<div class="spacer">
		&nbsp;
	</div>

	<h2>About us</h2>
	<p>This wiki was created by George, Kieran, and Aidan. </p>

<!-- 	<p> <%= $myinfo %> </p> -->
	<p>Staff ID: XXXXXXXX</p>

</body>
</html>