<!DOCTYPE html>
<html>
<head>
	<title>Create Account</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
	<div id="header">
		<img src="zodiac_img.png" id="headerIMG">
		<a href="/" class="menuItem">Home</a>
<!-- 		<a href="/create" class="menuItem">Create</a> -->
		<a href="/about" class="menuItem">About</a>

	<!-- 	<a href="/login">Login</a><br> -->
		<% if $credentials %> 
			<% if $credentials[0] != ' ' %>
				Logged in as: 
				<a href="/user/<%= $credentials[0] %>"><b style="color:black;">
					<%= $credentials[0] %></b></a>
				<a href="/logout" class="menuItem">Logout</a>

				<% if $credentials[0] == "Admin" %>
					<a href="/admincontrols" class="menuItem">Admin Controls</a>
				<% end %> 
				<%if get_user_details.edit == true%>
					<a href="/edit" class="menuItem">Edit</a>
				<%end%>
				<% else %>
					<a href="/login" class="menuItem">Login</a>
				<% end %>
			<% else %>
				<a href="/login" class="menuItem">Login</a>
				<a href="/createaccount" class="menuItem">Sign up</a>
			<% end %>
	</div>

	<div class="spacer">
		&nbsp;
	</div>
	<div id="login_form">
	<h2>Create account</h2><br>
	<form action="/createaccount" method="post">
		Username:<input type="text" name="username"><br>
		Password:<input type="password" name="password"><br>
		<input type="submit" value="Create!">
	</form>
</div>
</body>
</html>